/* CSS */
html, body {
height: 100%;
margin: 0;
scroll-snap-type: y mandatory;
overflow-y: scroll;
scroll-behavior: smooth;
background: #000;
font-family: 'Rubik', sans-serif;
}

/* Glavni kontejner za cijelu stranicu */
.stranica-kontejner {
width: 100vw;
min-height: 100vh;
position: relative;
background-color: #141414;
}

/* Izmedju stranica */
.white-space {
height: 5vh;
background: white;
z-index: 2;
position: relative;}

/* ====== TIPOGRAFIJA ====== */
h1, h2, h3, h4, h5, h6 {
font-family: 'Rubik', sans-serif;
letter-spacing: 0.01em;
/*! word-spacing: 0.05em;
line-height: -0.76; */
word-break: break-word;
}

h1 {
font-size: 7rem;
font-weight: 600;
margin-bottom: -2.5%;
margin-top: 1.2%;
}

h2 {
font-size: 1.8rem;
font-weight: 600;
}

h3 {
font-size: 1.3rem;
font-weight: 600;
}

h4 {
font-size: 1.1rem;
font-weight: 600;
margin-top: 1.2rem;
margin-bottom: 1rem;
}

h5 {
font-size: 1.25rem;
font-weight: 600;
margin-top: 1.5rem;
margin-bottom: 1rem;
}

h6 {
font-size: 1rem;
font-weight: 600;
margin-top: 0.7rem;
}

/* Sekcije stranice */
.sekcija {
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
scroll-snap-align: start;
z-index: 10;
/*! background-color: #141414; */
}

.content {
position: relative;
z-index: 1;
color: white;
text-align: center;
top: 50%;
transform: translateY(-50%);
font-family: sans-serif;
}

.video-wrapper {
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
}

video {
position: absolute;
width: 100%;
height: 100%;
transform: translate(0%, 0%);
object-fit: cover;
z-index: 0;
/*! scale: 91%; */
}

/* Mala slova */

/* Tekstovi */
.tekstovi {
color: white;
font-size: math;
font-weight: 500;
}

.tekstovi .tekst {
opacity: 0;
transform: translateY(0px);
transition: opacity 0.5s ease 0.2s, transform 0.2s ease 0.2s;
position: absolute;
width: 100%;
overflow: hidden;
pointer-events: none;
padding: 1.1vh 3.5vw;
}

/* Overlay sloj */
.tekst .overlay {
position: absolute;
transform: translateY(0%);
transition: transform 0.2s ease 0.2s;
z-index: 10;
/*! background: #e10874; */
}

/* Aktivni tekst */
.tekst:target {
opacity: 1;
transform: translateY(-0.3vw);
pointer-events: auto;
background-color: #000000b5;
}

/* Pokreće zavjesu */
.tekst:target .overlay {
transform: translateY(-100%);
transition-delay: 0.5s;
}

/* Ticker & corners */
/* Ticker */
.ticker-gore-prva {
  position: absolute;
  bottom: 5%;
  width: 100%;
  background: #cccccc30;
  color: white;
  /*! padding: 0% 2%; */
  z-index: 1;
  text-align: center;
  height: 21%;
  /*! font-size: 6rem; */
  right: 0;
  letter-spacing: -1%;
  font-size: 8rem;
  font-weight: 600;
  }
  

.ticker-dole {
position: absolute;
width: 100%;
background: rgba(255, 0, 0, 0.49);
color: white;
/*! padding: 1%; */
z-index: 1;
text-align: center;
height: 5%;
bottom: 0;
}

.ticker-gore {
position: absolute;
bottom: 5%;
width: 66%;
background: #ffffffb2;
color: black;
padding: 1% 2% 3.6%;
z-index: 1;
text-align: left;
height: 12%;
/*! font-size: 6rem; */
right: 0;
letter-spacing: -2%;
font-size: 7rem;
font-weight: 600;
}

.ticker-sredina {
position: absolute;
bottom: 5%;
width: 67%;
background: #0004ff;
color: white;
z-index: 5;
text-align: left;
height: 5%;
right: 0;
/*! line-height: 1%; */
padding-left: 3%;
font-size: 1.7rem;
/*! padding-top: 1.3%; */
/*! padding-bottom: 0.7%; */
letter-spacing: 4%;
font-weight: 600;
line-height: 2.8rem;
}

.ticker-sredina-prva {
  position: absolute;
  bottom: 5%;
  width: 98%;
  background: #0004ff;
  color: white;
  z-index: 5;
  text-align: center;
  height: 5%;
  right: 0;
  line-height: 1%;
  padding-left: 2%;
  font-size: 1.7rem;
  /*! padding-top: 1.3%; */
  /*! padding-bottom: 0.7%; */
  /*! letter-spacing: 3%; */
  }

.ticker-linkovi {
position: absolute;
bottom: 25%;
width: 50%;
background: #f00;
color: white;
z-index: 4;
text-align: left;
height: 3%;
font-size: 1rem;
font-weight: 600;
left: 0;
}

.ticker-pitanje {
position: absolute;
bottom: 10%;
width: 30%;
background: rgba(10, 117, 213, 0.66);
color: white;
padding: 0% 0% 4%;
z-index: 1;
text-align: center;
height: 8%;
font-size: 8rem;
font-weight: 600;
left: 0;
}

.ticker-podpitanje {
position: absolute;
bottom: 5%;
width: 30%;
background: #ccccccd6;
color: black;
/*! padding: 0.5rem 0rem; */
z-index: 1;
text-align: center;
height: 5%;
font-size: 2.4rem;
font-weight: 600;
left: 0;
}

/* Corners */
.top-left {
position: absolute;
top: 6%;
left: 3%;
background: #14141491;
color: white;
/*! padding: 0.5rem; */
z-index: 1;
/*! scale: 120%; */
/*! opacity: 40%; */
}

.top-left div {
/*! margin-bottom: 0.2rem; */
}

.top-right {
position: absolute;
top: 3rem;
right: 3.4rem;
background: rgba(255, 0, 0, 0.84);
color: white;
padding: 0.5rem;
z-index: 1;
}

.top-right div {
margin-bottom: 0.2rem;
}

.live {
/*! background: #cccccc; */
font-size: 5rem;
font-weight: 600;
}

.city {
background: white;
font-size: 2rem;
font-weight: 500;
/*! margin-left: 2.7rem; */
margin-top: 0.4rem;
color: #141414;
text-align: center;
}

.mala-slova-box {
position: absolute;
bottom: 51%;
left: 0;
/*! background: rgba(255, 0, 0, 0.7); */
color: white;
/*! padding: 1.5rem; */
z-index: 1;
width: 49%;
}

/* Links */
.links {
padding: 0.3rem 2.1rem;
}

.links a {
/*! background: #141414; */
color: white;
padding: 0rem 1rem;
text-decoration: none;
}

.mali-logo {
z-index: 15;
}
