/* Placeholder */
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

html, body { 
  height: 100%; 
  font-family: sans-serif; 
  background: #fff; 
  color: #000; 
}

section { width: 100vw; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 2rem; }
.crna { background: #000; color: #fff; }
.bijela { background: #ccc; color: #000; }
.mega { font-size: 15.7rem; font-weight: 600;  margin-top: -34rem; letter-spacing: -0.05em; position: absolute;text-align: left;opacity: 70%;margin-left: -47rem;}
.mega2 { font-size: 15.7rem; font-weight: 100;  margin-bottom: -41rem; letter-spacing: -0.05em; position: absolute;text-align: left;opacity: 15%;margin-left: -3rem;}
.mega3 { font-size: 15.7rem; font-weight: 100;  margin-top: -34rem; letter-spacing: -0.05em; position: absolute;text-align: left;opacity: 15%;margin-left: -51rem;}
.mega4 { font-size: 15.7rem; font-weight: 600;  margin-bottom: -41rem; letter-spacing: -0.05em; position: absolute;text-align: left;opacity: 70%;margin-left: -27rem;}
.mega5 { font-size: 15.7rem; font-weight: 100;  margin-top: -35rem; letter-spacing: -0.05em; position: absolute;text-align: left;opacity: 10%;margin-left: -61rem;}
.mega6 { font-size: 15.7rem; font-weight: 300;  margin-bottom: -42rem; letter-spacing: -0.05em; position: absolute;text-align: left;opacity: 50%;margin-left: -2rem;}
.mega7 { font-size: 15.7rem; font-weight: 600;  margin-top: -34rem; letter-spacing: -0.05em; position: absolute;text-align: left;opacity: 80%;margin-left: -44rem;}
.mega8 { font-size: 15.7rem; font-weight: 100;  margin-bottom: -40rem; letter-spacing: -0.05em; position: absolute;text-align: left;opacity: 15%;margin-left: -40rem;}
.mega9 { font-size: 5.7rem; font-weight: 100;  margin-top: -34rem; letter-spacing: -0.05em; position: absolute;text-align: left;opacity: 10%;margin-left: -47rem;line-height: 5rem;}
.mega10 { font-size: 7.7rem; font-weight: 600;  margin-bottom: -23rem; letter-spacing: -0.05em; position: absolute;text-align: left;opacity: 30%;margin-left: -31rem;line-height: 7.7rem;}
.mega11 { font-size: 1.7rem; font-weight: 300;  margin-bottom: -47rem; letter-spacing: -0.05em; position: absolute;text-align: left;opacity: 90%;margin-left: -79rem;}
.naslov1 { font-size: 7.5rem; margin-bottom: 1rem; text-align: center;line-height: 3rem;margin-top: -12rem;position: absolute;margin-right: -53rem;font-weight: 600;}
.naslov2 { font-size: 1.2rem; margin-bottom: 0.867rem; text-align: center;line-height: 3rem;margin-top: -5rem;margin-right: -52.5rem;position: absolute;opacity: 30%;}
.naslov3 { font-size: 2rem; margin-bottom: 0rem; text-align: center;line-height: 3rem;margin-top: -1.5rem;margin-right: -52.5rem;font-weight: 600;position: absolute;opacity: 40%;}
.naslov-hero { font-size: 2rem; margin-left: 0rem; text-align: center;line-height: 3rem;margin-top: -4rem;}
.tekst1 { font-size: 1rem; max-width: 700px; text-align: left; line-height: 1.5; margin-left: -44rem;margin-top: 10rem;}
.tekst2 { font-size: 1rem; max-width: 700px; text-align: left; line-height: 1.5; margin-left: -51rem;margin-top: 10rem;}
.tekst3 { font-size: 1rem; max-width: 700px; text-align: left; line-height: 1.5; margin-left: -57rem;margin-top: 10rem;}
.tekst4 { font-size: 1rem; max-width: 700px; text-align: left; line-height: 1.5; margin-left: -57rem;margin-top: 10rem;}
.tekst5 { font-size: 1rem; max-width: 700px; text-align: left; line-height: 1.5; margin-left: -43.5rem;margin-top: -10rem;}
.mala1 { font-size: 0.9rem; opacity: 0.6; margin-top: 8rem; margin-left: -61rem;}
.mala2 { font-size: 0.9rem; opacity: 0.6; margin-top: 8rem; margin-left: -72rem;}
.mala3 { font-size: 0.9rem; opacity: 0.6; margin-top: 8rem; margin-left: -61rem;}
.mala4 { font-size: 0.9rem; opacity: 0.6; margin-top: 6rem; margin-left: -52rem;}
.mala5 { font-size: 0.9rem; opacity: 0.6; margin-top: 1rem; margin-left: -62rem;}
.slika-hero {scale: 58%;margin-bottom: 4rem;margin-top: 2px;position: absolute;margin-left: -0.5rem;opacity: 70%;}
.slika-mala {margin-bottom: 4rem;margin-top: -150px;position: absolute;margin-right: -52.5rem;opacity: 60%;max-width: 39%;}
.hero {display: flex;justify-content: center;align-items: center;height: 100vh;background-color: #ffffff00;}



.white-space { height: 5vh; background: white;}


  /* Animacije kad sekcija uđe u vidno polje */
  .animiraj-me {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.8s ease-out;
  }

  .animiraj-start {
    opacity: 1;
    transform: scale(1);
  }
