body {
  margin: 0;
  font-family: sans-serif;
  background: white;
  color: black;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  scroll-snap-align: start;
}

.gray {
  background: #f0f0f0;
}
.black {
  background: black;
  color: white;
}
.white-space {
  height: 5vh;
  background: white;
}
.subtle {
  font-size: 0.85rem;
  opacity: 0.6;
  margin-top: 1rem;
}

.mega { font-size: 15.7rem; font-weight: 100;  margin-bottom: 41rem; letter-spacing: 0.05em; position: absolute;text-align: left;opacity: 15%;margin-left: -56rem;}
.mega2 { font-size: 15.7rem; font-weight: 100;  margin-bottom: -49rem; letter-spacing: 0.05em; position: absolute;text-align: left;opacity: 15%;margin-left: 1rem;}
.mega3 { font-size: 14rem; font-weight: 100;  margin-bottom: 43rem; letter-spacing: 0.05em; position: absolute;text-align: left;opacity: 15%;margin-left: -56rem;}
.mega4 { font-size: 14rem; font-weight: 100;  margin-bottom: -48rem; letter-spacing: 0.05em; position: absolute;text-align: left;opacity: 15%;margin-left: -34rem;}
.mega5 { font-size: 14rem; font-weight: 100;  margin-bottom: 44rem; letter-spacing: 0.05em; position: absolute;text-align: left;opacity: 15%;margin-left: -6rem;}
.mega6 { font-size: 14rem; font-weight: 100;  margin-bottom: -49rem; letter-spacing: 0.05em; position: absolute;text-align: left;opacity: 15%;margin-left: -5rem;}
.mega7 { font-size: 14rem; font-weight: 100;  margin-bottom: 41rem; letter-spacing: 0.05em; position: absolute;text-align: left;opacity: 20%;margin-left: -51rem;}
.mega8 { font-size: 14rem; font-weight: 100;  margin-bottom: -48rem; letter-spacing: 0.05em; position: absolute;text-align: left;opacity: 20%;margin-left: -45rem;}
.mega9 { font-size: 14rem; font-weight: 100;  margin-bottom: 43rem; letter-spacing: 0.05em; position: absolute;text-align: left;opacity: 20%;margin-left: -23rem;}
.mega10 { font-size: 14rem; font-weight: 100;  margin-bottom: -47rem; letter-spacing: 0.05em; position: absolute;text-align: left;opacity: 20%;margin-left: -41rem;}
.naslov { font-size: 2rem; margin-bottom: 1rem; text-align: center;line-height: 3rem;margin-top: 0;}
.naslov-hero { font-size: 2rem; margin-bottom: 1rem; text-align: center;line-height: 3rem;margin-top: -2rem;}
.tekst { font-size: 1rem; max-width: 700px; text-align: center; line-height: 1.5; }
.mala { font-size: 0.9rem; opacity: 0.6; margin-top: 1rem; }
.slika {scale: 44%;margin-bottom: 1rem;margin-top: 0;position: absolute;margin-left: -1rem;}
.hero {display: flex;justify-content: center;align-items: center;height: 100vh;background-color: #ffffff00;}
